// ========================================
// SBC CSS
// ========================================

// ========================================
// Import Mixins and Partials
@import "modules/config";
@import "modules/colors";

// ========================================
// GNAV
body.sbc {
  &.sales #gnav li#gnav-help > a,
  &.installation #gnav li#gnav-help > a,
  &.desktop #gnav li#gnav-help > a,
  &.mybalsamiq #gnav li#gnav-help > a,
  &.plugins #gnav li#gnav-help > a,
  &.tutorials #gnav li#gnav-tutorials > a,
  &.resources #gnav li#gnav-resources > a {
    background: rgba(0,0,0,.1);
    border-radius: 3px;
  }
}

// ========================================
// CONTACT
#support-contact {
  .inner {
    margin: 0;
    padding: 10px;
    background: $graypale;
    border: 1px solid $gray;
    border-radius: 5px;
  }
}

.support-more-contact {
  @include fontsize(14,14);
  .ss-icon {
    color: #0064AE;
    margin-right: 2px;
  }
}

// ========================================
// BIOS
#bios {
  #biopic {
    img {
      border: 1px solid $gray;
      box-shadow: 0px 1px 2px $gray;
    }
    p {
      margin: -36px 0 0 0;
      @include fontsize(12,16);
      text-align: center;
      color: #fff;
      @include text-shadow(light);
      text-transform: capitalize;
    }
  }
  #biotxt {
    h4 {
      margin: 0;
      padding: 0 0 2px 0;
      @include fontsize(18,18);
      text-align: left;
    }
    p {
      margin: 0;
      padding: 0;
      @include fontsize(16,24);
    }
  }
}


// STYLES FOR TUTORIALS INDEX PAGE
a.thumbnail {
  position: relative;
  i.ss-icon {
    position: absolute;
    font-size:39px;
    @include calc(top, "50% - 25px");
    @include calc(left, "50% - 20px");
    text-shadow: 1px 1px 2px $gray;
  }
}

body.sbc.tutorials h2 {
  margin-top: 28px;
}

// STYLES FOR SOCIAL SHARING
.meta {
  font-size: 90%;
  color: $graydark;
}
a.js-social-share, a.js-social-share:visited {
  text-decoration: none;
  padding-left: 10px;
}

// CODE SYNTAX HIGHLIGHTING
td.code-flow code:first-of-type {
  margin-left: 20px;
}

td.code-flow {
  padding: 20px !important;

  code {
    display:inline-block;
  }
}
th.example {
  width: 50%;
}

div.json-example, td.json-example {
  border:none !important;

  .highlight {
    padding: 0 20px;
    border-radius:5px;
    background:none;
    margin-bottom: 20px;

    code {
      padding:0;
      margin:0;
    }

    pre {
      background-color: $codeHighlightBG;
      border:none;
      font-size: 0.85em;
      padding-left:5px;
      margin:0;

      .hll {
        display:block;
        background-color: #ffffcc;
        .nt {
          color:$codeHighlightFont;
        }
      }

      .err { color: $codeHighlightFont; background-color: $codeCommentBG; display: inline-block; margin:0;padding:0; }
       /* bit of a hack to make inline spans share the same background color */
      .err::after { content:" ";display:inline-block;width:0px;padding-right:1em;margin-right:-1em; background-color: $codeCommentBG; }
      .bp, .nb { color: $codeBuiltin }
      .c, .c1, .ch, .cm, .go, .cpf { color: $codeComment }
      .gr, .gt { color: $codeGenericError }
      .kp, .ow { color: $codeKeyword }
      .k, .kc, .kd, .kn, .kr { color: $codeKeyword; font-weight: bold }
      .il, .m, .mb, .mf, .mh, .mi, .mo { color: $codeLiteralNum; font-weight: bold }
      .na, .nv, .vc { color: $codeAttribute }
      .nc, .ne, .nn, .nt { color: $codeClass; font-weight: bold }
      .s, .s1, .s2, .sb, .sc, .sd, .sh { color: $codeLiteralString; background-color: $codeLiteralBG }
      .cp { color: $codeCommentSpecial; font-weight: bold }
      .cs { color: $codeCommentSpecial; font-weight: bold; background-color: $codeLiteralBG }
      .ge { font-style: italic }
      .gs { font-weight: bold }
      .kt { color: $codeComment; font-weight: bold }
      .nd { color: $codeDecorator }
      .nf { color: $codeFunction; font-weight: bold }
      .py { color: $codeAttribute; font-weight: bold }
      .nl { color: $codeAttribute; font-style: italic }
      .no { color: $codeConstant; font-weight: bold }
      .w { color: $codeHighlightBG }
    }
  }
}

// GRID GALLERY
/* Blog Grid */
#filter.menubar a {
    color: #999;
}
#filter.menubar .current a {
    color: #000 !important;
    text-decoration: none;
}
#filter.menubar span.label {
    display: none;
}
#filter.menubar a:hover {
    text-decoration: none;
}
.gallery {
    margin-top: 18px;
    padding: 0;
}
.gallery-item {
    display: block;
    border: 1px solid #eee;
    position: relative;
    margin: 0 0 32px 0;
    min-height: 340px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    width: 100%;
}
.gallery-item:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 40px rgba(0,0,0,.15);
    transform: translate(0,-2px);
    transition-delay: 0s !important;
}
#body-main .gallery-item h3 {
    font-weight: normal;
    @include fontsize(18,21);
    margin: 0 0 4px 0;
}
#body-main .gallery-item h3 a {
    display: block;
    width: 100%;
}
.gallery-item img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0 !important;
}
.gallery-item .meta {
    color: #666;
    width: 100%;
    padding: 16px;
    min-height: 78px;
    background: rgba(255,255,255,.9);
}
/* SMALL */
@media only screen and (max-width: 768px) {
    .gallery-item {
        float: none;
        width: 100%;
        min-height: auto;
        height: auto;
        margin-bottom: 1.5em;
        margin-right: 0;
        padding: 0;
        box-shadow: none;
    }
    .gallery-item h3 {
        text-align: left;
    }
    .gallery-item .meta {
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: 16px;
    }
}
/* MED UP */
@media only screen and (min-width: 769px) {
    #filter {
        display: block;
        float: right;
        text-align: right;
    }
    #filter li:last-child {
        margin-right: 0;
    }
}
/* EXTRA LARGE */
@media only screen and (min-width: 1500px) {
    .gallery-item img {
        border-bottom: none;
    }
    .gallery-item .meta {
        background: rgba(255,255,255,.9);
        box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.10);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
