{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">

  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
        {{ if eq .Title "Mybalsamiq" }}
        <h1>myBalsamiq Documentation</h1>
        {{ else }}
        <h1>{{ .Title }} Documentation</h1>
        {{ end }}        
      </div>
      <ol id="list">
      {{ range .Data.Pages.ByWeight }}
        {{ .Render "li"}}
      {{ end }}
      </ol>
    {{ if eq .Title "Desktop" }}
      {{ partial "desktop_faqs.html" . }}
    {{ else if eq .Title "Mybalsamiq" }}
      {{ partial "myb_faqs.html" . }}
    {{ else }}
    {{ end }}
    </main>
  </div> <!-- /.doc-overview -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
