{{/* MAIN PAGE TEMPLATE */}}
{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main" class="home">
{{/* ======================================== */}}

{{/* ======================================== */}}
{{/* 1. - SEARCH */}}
<div class="container-fluid bbot" id="home-search">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">

      <h2 class="text-center">Balsamiq Support Portal</h2>
      <form class="relative">
        <div id="searchHomeDiv">
         <input class="form-control" type="text" id="search_home" placeholder="Search our support portal and more..." autocomplete="off">
        </div>
      </form>
      <script type="text/javascript">
        BalsamiqSearchAutoComplete.initAutoCompleteInputDiv("searchHomeDiv");
      </script>
      <p class="mt1"><strong>Popular topics:</strong> {{ partial "popular_topics.html" . }}</p>

    </div>{{/*  /.col */}}
  </div>{{/*  /.row */}}
</div>{{/*  /.container-fluid */}}

{{/* ======================================== */}}
{{/* 2. - TOP SECTION */}}
<div class="container-fluid fluid-max mt1-5">
  <div class="row mt2">
    {{/* 2.1 Left Columns - Buttons */}}
    <div class="col-xs-12 col-sm-8">
      {{/* 2.1.1 Top */}}
      <div class="row mb1">
        <div class="col-xs-12 col-sm-6">
          <div class="list-group"><div class="list-group-item text-center pb1-5 pt1-5"><h3 class="list-group-item-heading">
          <a href="sales/"><img src="//media.balsamiq.com/img/support/icons/toc-button-licensing-purchasing.svg"><br>Licensing &amp; Purchasing</a></h3>
          <p class="list-group-item-text mt1">Get help with <a href="https://balsamiq.com/buy/lostkey">retrieving license keys</a>, <a href="/sales/invoice/">getting an invoice</a>, and <a href="/sales/">more</a>.</p>
        </div></div></div>
        <div class="col-xs-12 col-sm-6">
          <div class="list-group"><div class="list-group-item text-center pb1-5 pt1-5"><h3 class="list-group-item-heading">
          <a href="installation/"><img src="//media.balsamiq.com/img/support/icons/toc-button-installing-updating.png"><br>Installing &amp; Updating</a></h3>
          <p class="list-group-item-text mt1">Get help with <a href="/installation/howto/">Installation instructions</a>, <a href="/installation/update/">Updating software</a>, and <a href="/installation/">more...</a></p>
        </div></div></div>
        <div class="col-xs-12 col-sm-6">
          <div class="list-group"><div class="list-group-item text-center pb1-5 pt1-5"><h3 class="list-group-item-heading">
          <a href="tutorials/"><img src="//media.balsamiq.com/img/support/icons/toc-button-tutorials.png"><br>Tutorials</a></h3>
          <p class="list-group-item-text mt1">Get a handle on the basics with our <a href="/tutorials/introvideo/">Intro video</a>, <a href=/tutorials/firstmockup/>creating Your First Mockup</a>, <a href="/tutorials/linking/">linking Basics</a>, and <a href="/tutorials/">more</a>.</p>
        </div></div></div>
        <div class="col-xs-12 col-sm-6">
          <div class="list-group"><div class="list-group-item text-center pb1-5 pt1-5"><h3 class="list-group-item-heading">
          <a href="https://docs.balsamiq.com"><img src="//media.balsamiq.com/img/support/icons/toc-button-documentation.png"><br>Documentation</a></h3>
          <p class="list-group-item-text mt1">View guides for Mockups for <a href="https://docs.balsamiq.com/desktop/">Desktop</a>, <a href="https://docs.balsamiq.com/mybalsamiq/">myBalsamiq</a>, <a href="https://docs.balsamiq.com/google-drive/intro/">Google Drive</a>, <a href="https://docs.balsamiq.com/confluence/cloud/intro/">Confluence Cloud</a>, <a href="https://docs.balsamiq.com/confluence/server/mockups2/intro/">Confluence Server</a>, <a href="https://docs.balsamiq.com/jira/cloud/intro/">JIRA Cloud</a>, and <a href="https://docs.balsamiq.com/jira/server/mockups2/intro/">JIRA Server</a>.</p>
        </div></div></div>
      </div>{{/* END .row */}}
    </div>
    {{/* END 2.1 */}}
    {{/* 2.2 Right Column - Contact */}}
    <div class="section col-xs-12 col-sm-4 mb1" id="support-contact">
      <div class="inner">
        <h3 class="tcenter"><a href="https://balsamiq.com/company/#contact">Contact Us</a> for Help</h3>
        <hr>
        <div class="support-more-contact row m0 tcenter">
          <div class="col-xs-12">
             <a id="forum-link" href="https://forums.balsamiq.com" class="btn btn-default btn-lg btn-block"><i class="ss-icon ss-chat"></i> Forums</a>
            <a id="email-link" href="https://balsamiq.com/company/contact/" class="btn btn-default btn-lg btn-block"><i class="ss-icon ss-mail"></i> Email</a>
         </div>
        </div>
        <hr class="mt1 mb1-5">
        <div class="support-more-contact row m0 tcenter">
          <div class="col-xs-12 col-sm-6"><a id="email-link" href="https://twitter.com/balsamiq" class="btn btn-default btn-block"><i class="ss-icon ss-social-regular ss-twitter"></i> Twitter</a></div>
          <div class="col-xs-12 col-sm-6"><a href="http://stats.pingdom.com/dav3wniwmzif" class="btn btn-default btn-block"><i class="ss-icon ss-dashboard"></i> Server Status</a></div>
        </div>
        <hr class="mt1 mb1">
        <script type='text/javascript'>
          $(document).ready(function() {

            // BIOS
            var myBios = new Array();
            myBios[0] = "val";
            myBios[1] = "anna";
            myBios[2] = "sax";
            myBios[3] = "brendan";
            myBios[4] = "virgin";
            myBios[5] = "liz";
            var myRandom = Math.floor(Math.random()*myBios.length);
            var myRandomBio = myBios[myRandom];
            var myBio = "<img src='//media.balsamiq.com/img/company/team/"+myRandomBio+".jpg' class='img-responsive'><p><a href='https://balsamiq.com/company/#"+myRandomBio+"' style='color:white'>Meet "+myRandomBio+"</a></p>";
            $('#bios #biopic').html(myBio);
          });
        </script>
        <div id="bios" class="content clearfix mt1-5 mb1-5">
          <div id="biopic" class="col-xs-6"><img src="//media.balsamiq.com/img/company/team/brendan.jpg" class="img-responsive"><p>Meet Brendan</p></div>
          <div id="biotxt" class="col-xs-6">
            <h4>We're real people!</h4>
            <p><br>At Balsamiq, we like to compete on customer service. <a href="https://blog.balsamiq.com/customer-support-starter-pack/">Here's how we do it.</a></p>
          </div>{{/* END .biotxt */}}
        </div>{{/* END #bios */}}
      </div>{{/* END .inner */}}
    </div>{{/* END 2.2 */}}
  </div>{{/* END .row */}}
  <hr>
</div>{{/*  END .container */}}

{{/* ======================================== */}}
{{/* 3. - BOTTOM SECTION - FAQ+MORE */}}
<div class="container-fluid fluid-max">
  <div class="row mt2" id="support-faqs">

    <h2 class="text-center mb1-5">Product FAQs and More</h2>

    {{/*  FAQ+MORE ROW 1 */}}
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="desktop/">Mockups for Desktop</a>
      <p>Answers to common questions about Balsamiq Mockups for Desktop</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="mybalsamiq/">myBalsamiq</a>
      <p>Answers to questions about <a href="/mybalsamiq/secure/">Security</a>, <a href="/mybalsamiq/siteowner/">Site Owners</a>, <a href="/desktop/classroom/">myBalsamiq in the classroom</a>, and <a href="/mybalsamiq/">more....</a></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="plugins/">Plugins</a>
      <p>Troubleshooting and tips for Mockups for Confluence, JIRA, and Google Drive.</p>
    </div>
  </div>{{/*  /.row */}}
  {{/*  /FAQ+MORE ROW 1 */}}

  {{/*  FAQ+MORE ROW 2 */}}
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="/resources/uxapprentice/">UX Apprentice</a>
      <p>Start learning the craft of user experience design and test your knowledge with our <a href="http://www.uxapprentice.com">introduction to UX</a>.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="/resources/extensions/">Extensions</a>
      <p><a href="/resources/extensions/#templates">Templates</a>, <a href="/resources/extensions/#user-testing-your-mockups">User Testing resources</a>, <a href="/resources/extensions/#other-products-that-work-with-mockups-versions-2-and-or-3">3rd party tools</a>, and <a href="/resources/extensions/">more...</a></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="resources/">More</a>
      <p>Job boards, services, books about Mockups, and other learning resources.</p>
    </div>
  </div>{{/*  /.row */}}
  {{/*  /FAQ+MORE ROW 2 */}}

</div>{{/* END .container */}}
{{/*  END FAQ+MORE */}}

{{/* ======================================== */}}
</div>
{{/* END BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
