{{/* MAIN PAGE TEMPLATE */}}
{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main" class="home">
{{/* ======================================== */}}

{{/* ======================================== */}}
{{/* 1. - SEARCH */}}
<div class="container-fluid bbot" id="home-search">
  <div class="row">

    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h2 class="text-center">Balsamiq Support Portal</h2>

      <form class="relative">
        <div id="searchHomeDiv">
         <input class="form-control" type="text" id="search_home" placeholder="Search our support portal and more..." autocomplete="off">
        </div>
      </form>
      <script type="text/javascript">
        BalsamiqSearchAutoComplete.initAutoCompleteInputDiv("searchHomeDiv");
      </script>

      <p class="mt1"><strong>Popular searches:</strong>  lost license, reusable symbols, templates, master pages, classroom, additional control types (Mockups To Go), error, installation, keyboard shortcuts, cost, tips, Dropbox, OneDrive, iCloud.</p>
    </div><!-- /.col -->

  </div><!-- /.row -->
</div><!-- /.container-fluid -->

{{/* ======================================== */}}
{{/* 2. - PRODUCT DOCUMENTATION */}}

<div class="container-fluid fluid-max documentation">
  <div class="row mb0">
    <div class="col-xs-12">

    </div>
  </div>

  <div class="row" id="documentation">
    <div class="col-xs-12">

      <div class="row prod-plugins">
        <div class="col-xs-12 col-sm-6">
          <a class="btn btn-default btn-lg btn-block" href="https://docs.balsamiq.com"><i class="ss-icon"></i> Documentation</a>
          <p>View guides for Mockups for <a href="https://docs.balsamiq.com/desktop/">Desktop</a>, <a href="https://docs.balsamiq.com/mybalsamiq/">myBalsamiq</a>, <a href="https://docs.balsamiq.com/google-drive/user-guide/">Google Drive</a>, <a href="https://docs.balsamiq.com/confluence/user-guide/">Confluence</a>, and <a href="https://docs.balsamiq.com/jira/user-guide/">JIRA</a>.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a href="confluence/user-guide/" class="btn btn-default btn-lg btn-block"><!--<img src="//media.balsamiq.com/img/appicon/confluence-nobg.png">--><small>Mockups for</small> Confluence</a>
          <p class="text-center">Our plugin for <a href="https://www.atlassian.com/software/confluence">Atlassian Confluence</a></p>
        </div>
      </div>

      <hr>

    </div>
  </div><!-- /.row -->
</div><!-- /.container-fluid -->

{{/* ======================================== */}}
{{/* 3. - MORE RESOURCES */}}

<div class="container-fluid fluid-max">
  <div class="row" id="resources">

    <h2 class="text-center mb1-5">More Resources</h2>

    <div class="col-xs-12 col-sm-4">
      <a href="http://support.balsamiq.com/customer/portal/articles/1335124" class="btn btn-default btn-lg btn-block"><i class="ss-icon">&#xE673;</i> Tutorials</a>
      <p class="text-center">Get a handle on the basics with our <a href="http://support.balsamiq.com/customer/portal/articles/107966">Intro video</a>, <a href="http://support.balsamiq.com/customer/portal/articles/871902">Creating Your First Mockup</a>, <a href="http://support.balsamiq.com/customer/portal/articles/1356143">Linking Basics</a>, and <a href="http://support.balsamiq.com/customer/portal/articles/1335124#gettingstarted">more</a>.</p>

      </div>
    <div class="col-xs-12 col-sm-4">
      <a href="http://uxapprentice.com/" class="btn btn-default btn-lg btn-block"><i class="ss-icon">&#xF4C0;</i> UX Apprentice</a>
      <p class="text-center">Start learning the craft of user experience design and test your knowledge with our introduction to UX.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="http://support.balsamiq.com" class="btn btn-default btn-lg btn-block"><i class="ss-icon">&#x2753;</i> Need Help?</a>
      <p class="text-center">Try our <strong><a href="http://support.balsamiq.com">Support site</a></strong> for answers about <a href="http://support.balsamiq.com/customer/portal/articles/127432">licensing and purchasing</a>, <a href="http://support.balsamiq.com/customer/portal/topics/44769-installation-faqs/articles">installation and updating</a>, and more.</p>
    </div>

  </div><!-- /.row -->
</div><!-- /.container-fluid -->

{{/* ======================================== */}}
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
