{{/* MAIN PAGE TEMPLATE */}}
{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main" class="home">
{{/* ======================================== */}}

{{/* ======================================== */}}
{{/* 1. - SEARCH */}}
<div class="container-fluid bbot" id="home-search">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">

      <h2 class="text-center">Balsamiq Support Portal</h2>
      <form class="relative">
        <div id="searchHomeDiv">
         <input class="form-control" type="text" id="search_home" placeholder="Search our support portal and more..." autocomplete="off">
        </div>
      </form>
      <script type="text/javascript">
        BalsamiqSearchAutoComplete.initAutoCompleteInputDiv("searchHomeDiv");
      </script>
      <p class="mt1"><strong>Popular topics:</strong> {{ partial "popular_topics.html" . }}</p>

    </div>{{/*  /.col */}}
  </div>{{/*  /.row */}}
</div>{{/*  /.container-fluid */}}

{{/* ======================================== */}}
{{/* 2. - TOP SECTION */}}
<div class="container-fluid fluid-max mt1-5">
  <div class="row mt2">
    {{/* 2.1 Left Columns - Buttons */}}
    <div class="col-xs-12 col-sm-8">
      {{/* 2.1.1 Top */}}
      <div class="row mb1">
        <div class="col-xs-12 col-sm-6">
          <a class="btn btn-default btn-lg btn-block" href="sales/">Licensing &amp; Purchasing</a>
          <p>Get help with <a href="https://balsamiq.com/buy/lostkey">retrieving license keys</a>, <a href="/sales/invoice/">getting an invoice</a>, and <a href="/sales/">more</a>.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="btn btn-default btn-lg btn-block" href="installation/">Installing &amp; Updating</a>
          <p>Get help with <a href="/installation/howto/">Installation instructions</a>, <a href="/installation/update/">Updating software</a>, and <a href="/installation/">more...</a></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="btn btn-default btn-lg btn-block" href="tutorials/">Tutorials</a>
          <p>Get a handle on the basics with our <a href="/tutorials/introvideo/">Intro video</a>, <a href=/tutorials/firstmockup/>creating Your First Mockup</a>, <a href="/tutorials/linking/">linking Basics</a>, and <a href="/tutorials/#getting-started">more</a>.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="btn btn-default btn-lg btn-block" href="https://docs.balsamiq.com">Documentation</a>
          <p>View guides for Mockups for <a href="https://docs.balsamiq.com/desktop/">Desktop</a>, <a href="https://docs.balsamiq.com/mybalsamiq/">myBalsamiq</a>, <a href="https://docs.balsamiq.com/google-drive/intro/">Google Drive</a>, <a href="https://docs.balsamiq.com/confluence/cloud/intro/">Confluence Cloud</a>, <a href="https://docs.balsamiq.com/confluence/server/mockups2/intro/">Confluence Server</a>, <a href="https://docs.balsamiq.com/jira/cloud/intro/">JIRA Cloud</a>, and <a href="https://docs.balsamiq.com/jira/server/mockups2/intro/">JIRA Server</a>.</p>
        </div>
      </div>{{/* END .row */}}
    </div>
    {{/* END 2.1 */}}
    {{/* 2.2 Right Column - Contact */}}
    <div class="section col-xs-12 col-sm-4 mb1" id="support-contact">
      <div class="inner">
        <h5 class="tcenter"><a href="https://balsamiq.com/company/#contact">Contact Us</a> for Help</h5>
        <hr class="mt1 mb1">
        <div class="support-more-contact row m0 tcenter">
          <div class="col-xs-12 col-sm-6">
             <a id="forum-link" href="https://forums.balsamiq.com"><i class="ss-icon ss-chat"></i> Forums</a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a id="email-link" href="https://balsamiq.com/company/contact/"><i class="ss-icon ss-mail"></i> Email</a>
         </div>
        </div>
        <hr class="mt10 mb10">
        <div class="support-more-contact row m0 tcenter">
          <div class="col-xs-12 col-sm-6"><a id="email-link" href="https://twitter.com/balsamiq"><i class="ss-icon ss-social-regular ss-twitter"></i> Twitter</a></div>
          <div class="col-xs-12 col-sm-6"><a href="http://stats.pingdom.com/dav3wniwmzif"><i class="ss-icon ss-dashboard"></i> Server Status</a></div>
        </div>
        <hr class="mt10 mb10">
        <script type='text/javascript'>
          $(document).ready(function() {

            // BIOS
            var myBios = new Array();
            myBios[0] = "peldi";
            myBios[1] = "val";
            myBios[2] = "natalie";
            myBios[3] = "marco";
            myBios[4] = "luis";
            myBios[5] = "mike";
            myBios[6] = "joy";
            myBios[7] = "florian";
            myBios[8] = "paolo";
            myBios[9] = "leon";
            myBios[10] = "anna";
            myBios[11] = "stefano";
            myBios[12] = "michele";
            myBios[13] = "andrea";
            myBios[14] = "sax";
            myBios[15] = "francesca";
            myBios[16] = "agnese";
            myBios[17] = "brendan";
            myBios[18] = "virgin";
            myBios[19] = "brilli";
            myBios[20] = "jessica";
            var myRandom = Math.floor(Math.random()*myBios.length);
            var myRandomBio = myBios[myRandom];
            var myBio = "<img src='//media.balsamiq.com/img/company/team/"+myRandomBio+".jpg' class='img-responsive'><p>Meet "+myRandomBio+"</p>";
            $('#bios #biopic').html(myBio);
          });
        </script>
        <div id="bios" class="content clearfix mt1 mb1">
          <div id="biopic" class="col-xs-4"><img src="//media.balsamiq.com/img/company/team/brilli.jpg" class="img-responsive"><p>Meet Brilli</p></div>
          <div id="biotxt" class="col-xs-8">
            <h4>We're real people!</h4>
            <p>Answering your questions is part of everyone's job here at Balsamiq.<br><a href="https://balsamiq.com/company/">Meet the team!</a></p>
          </div>{{/* END .biotxt */}}
        </div>{{/* END #bios */}}
      </div>{{/* END .inner */}}
    </div>{{/* END 2.2 */}}
  </div>{{/* END .row */}}
  <hr>
</div>{{/*  END .container */}}

{{/* ======================================== */}}
{{/* 3. - BOTTOM SECTION - FAQ+MORE */}}
<div class="container-fluid fluid-max">
  <div class="row mt2" id="support-faqs">

    <h2 class="text-center mb1-5">Product FAQs and More</h2>

    {{/*  FAQ+MORE ROW 1 */}}
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="desktop/">Mockups for Desktop</a>
      <p>Answers to common questions about Balsamiq Mockups for Desktop</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="mybalsamiq/">myBalsamiq</a>
      <p>Answers to questions about <a href="/mybalsamiq/secure/">Security</a>, <a href="/mybalsamiq/siteowner/">Site Owners</a>, <a href="/desktop/classroom/">myBalsamiq in the classroom</a>, and <a href="/mybalsamiq/">more....</a></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="plugins/">Plugins</a>
      <p>Troubleshooting and tips for Mockups for Confluence, JIRA, and Google Drive.</p>
    </div>
  </div>{{/*  /.row */}}
  {{/*  /FAQ+MORE ROW 1 */}}

  {{/*  FAQ+MORE ROW 2 */}}
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="/resources/uxapprentice/">UX Apprentice</a>
      <p>Start learning the craft of user experience design and test your knowledge with our <a href="http://www.uxapprentice.com">introduction to UX</a>.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="/resources/extensions/">Extensions</a>
      <p><a href="/resources/extensions/#templates">Templates</a>, <a href="/resources/extensions/#user-testing-your-mockups">User Testing resources</a>, <a href="/resources/extensions/#other-products-that-work-with-mockups-versions-2-and-or-3">3rd party tools</a>, and <a href="/resources/extensions/">more...</a></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" href="resources/">More</a>
      <p>Job boards, services, books about Mockups, and other learning resources.</p>
    </div>
  </div>{{/*  /.row */}}
  {{/*  /FAQ+MORE ROW 2 */}}

</div>{{/* END .container */}}
{{/*  END FAQ+MORE */}}

{{/* ======================================== */}}
</div>
{{/* END BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
