<hr>
<h2>Frequently Asked Questions</h2>

<ul class="faq-list">
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1964658">Mockups for Desktop Troubleshooting Guide</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/2065924">Can I Use Balsamiq Mockups 3 for Desktop with Dropbox / Box.com / OneDrive / iCloud Drive?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/578190">Does Mockups automatically save open files?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/98989">Is there a Mockups viewer to share my prototypes with my clients?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1948259">Can I export mockup notes?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/98992">Can Mockups export to HTML/CSS/JS, XAML, Ruby, etc?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1634821">Can I use Symbols and Assets across Projects?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/98986">Can I add a custom control or icon?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/98987">Can I reuse common elements across mockups?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/98988">Is there a more formal skin for Mockups?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/2038151">I'm on a small screen. How can I see more of the canvas?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/98997">Can I save Mockups files on a Microsoft Sharepoint Server?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/210720">What are Custom Properties?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/111762">Can I Install Mockups from the Command Line?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/468845">What's the maximum canvas size for a Mockup?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1033437">Finding Your Local Data Storage Folder</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1144371">Mockups for Desktop Purchasing FAQs</a></li>
</ul>
