<hr>
<h2>Frequently Asked Questions</h2>

<ul class="faq-list">
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1397041">Managing your myBalsamiq subscription</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/232919">myBalsamiq and Mockups for Desktop</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/2051535">Using Balsamiq Mockups 3 and myBalsamiq Together</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1878451">Can I use myBalsamiq with Atlassian JIRA or Confluence?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/235411">Best Practices for Grouping Mockups</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/609459">Using myBalsamiq in Your Classroom</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/236482">I did not receive the myBalsamiq confirmation email</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1512069">Site Owner FAQs</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1971804">Can I Make My Project Read Only for Project Members?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/200400">Can I run myBalsamiq on a server inside my firewall?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/835846">Our myBalsamiq site owner left the company. How can I reclaim our company's site?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/133396">Clearing your Flash Cookies</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/517669">The myBalsamiq editor keeps asking me about storage settings. How do I stop the alert from appearing?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/805389">Are myBalsamiq sites secure?</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/539164">myBalsamiq doesn't remember me</a></li>
	<li><a href="http://support.balsamiq.com/customer/portal/articles/1144372">myBalsamiq Purchasing FAQs</a></li>
</ul>