<div class="article-content content article">

    <p>This page lists the documentation and answers to common questions about our plugin products.</p>
    <p><b>Licensing and purchasing FAQs</b> are <a href="/sales/">here</a>.</p>
    <p><b>Documentation</b> is <a href="https://docs.balsamiq.com/">here</a>.</p>

    <hr />
    <h4 id="gdrive">Mockups for Google Drive FAQs</h4>

    <ul>
        <li><a href="/plugins/introtogoogledrive/">Intro to Mockups 3 for Google Drive</a></li>
        <li><a href="/plugins/sharingwithgoogledrive/">Sharing in Mockups for Google Drive, a Walkthrough</a></li>
        <li><a href="/plugins/newingoogledrive/">What&#39;s New in Balsamiq Mockups for Google Drive?</a></li>
        <li><a href="/plugins/movecopy/">How Do I Copy or Move Mockups between Projects?</a></li>
        <li><a href="/plugins/maximumrevisions/">"Maximum Number of Pinned Revisions Exceeded" Error in Mockups 3 for Google Drive</a></li>
        <li><a href="/plugins/unabletoauthorize/">"Sorry, we were unable to authorize this app for all the files that you attempted to open. Please try again" Error in Mockups 3 for Google Drive</a></li>
    </ul>

    <hr />
    <h4 id="confluence-jira">Articles about both Mockups for Confluence and Mockups for JIRA FAQs</h4>

    <ul>
        <li><a href="/plugins/b3andatlassian/">Using Mockups 3 for Desktop and Mockups for Confluence Server or JIRA Server versions together</a></li>
        <li><a href="/plugins/importtoatlassian/">How do I Import mockups to Mockups for Confluence Server or JIRA Server?</a></li>
        <li><a href="/plugins/atlassianldap/">How to use both the Confluence Server and JIRA Server plugins and manage my users via LDAP</a></li>
        <li><a href="/plugins/atlassianlicensenotshowing/">Mockups for Confluence Server or JIRA Server Says It's Unlicensed, but It Is!</a></li>
        <li><a href="/plugins/failedtovalidatelicense/">Error When Registering Mockups for Confluence Server or JIRA Server</a></li>
        <li><a href="/mybalsamiq/mybandatlassian/">Can I use myBalsamiq with Atlassian JIRA or Confluence?</a></li>
    </ul>

    <hr />
    <h4 id="confluence">Articles about Mockups for Confluence</h4>
    <ul>
        <li><a href="/plugins/updatingconfluence">Updating from Old Versions of Confluence Server</a></li>
        <li><a href="/plugins/unknownmacro/">"Unknown Macro:mockup" Error When Installing Mockups 3 for Confluence Cloud</a></li>
        <li><a href="/plugins/newconfluencemacro/">Migrating to the New Mockups 3 for Confluence Cloud Macro</a></li>
    </ul>
</div>
