<!-- comma-separated list of popular articles here -->
<a href="http://balsamiq.com/buy/lostkey">lost license</a>, 
<a href="http://balsamiq.com/search/?q=symbols">reusable symbols, templates, master pages</a>, 
<a href="http://support.balsamiq.com/customer/portal/articles/609459">classroom</a>, 
<a href="http://support.balsamiq.com/customer/portal/articles/131430">additional control types (Mockups To Go)</a>, 
<a href="http://balsamiq.com/search/?q=error">error</a>, 
<a href="http://balsamiq.com/search/?q=installation">installation</a>, 
<a href="https://docs.balsamiq.com/desktop/shortcuts/">keyboard shortcuts</a>, 
<a href="http://balsamiq.com/search/?q=cost">cost</a>, 
<a href="http://balsamiq.com/search/?q=tips">tips</a>, 
<a href="http://support.balsamiq.com/customer/portal/articles/2065924">Dropbox, OneDrive, iCloud</a> 