<div class="container-fluid fluid-max">
	<div class="row mt2" id="support-faqs">

		<h2 class="text-center mb1-5">Please Select Your Product Below</h2>

		<div class="col-xs-12 col-sm-6">
			<a class="btn btn-default btn-lg btn-block" href="/sales/desktop/">Mockups 3 for Desktop</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="btn btn-default btn-lg btn-block" href="/sales/mybalsamiq/">myBalsamiq</a>
		</div>
	</div>
	<div class="row mt2">
		<div class="col-xs-12 col-sm-6">
			<a class="btn btn-default btn-lg btn-block" href="/sales/gdrive/">Mockups 3 for Google Drive</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="btn btn-default btn-lg btn-block" href="/sales/atlassianplugins">Mockups for Confluence or JIRA</a>
		</div>
	</div>
	<div class="row mt2">

		<p class="text-center mb1-5">Not sure what product is best for you? <a href="https://balsamiq.com/products/compare/">Compare them all</a>.</p>

		<hr />

		<div class="col-xs-12 col-sm-6">
			<p><strong>Need a formal invoice</strong>? Get one <a href="https://balsamiq.com/buy/invoice">here</a>.</p>
			<p><strong>Lost your license key</strong>? Retrieve it <a href="https://balsamiq.com/buy/lostkey">here</a>.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<p>You can find our End User License Agreement (EULA)&nbsp;<a href="https://balsamiq.com/eulas">here</a>.</p>
			<p>You can find a copy of our W9&nbsp;<a href="https://media.balsamiq.com/files/BalsamiqW9.pdf">here</a>.</p>
		</div>

	</div>
</div>
