<div class="container-fluid fluid-max">
  <div class="row">
    <div class="col-xs-12">
    <h2>Basic Concepts</h2>
    <p>Quick video tutorials to get you up and running. More on our <a href="//www.youtube.com/balsamiq/" target="_blank">YouTube Channel</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 center">
      <a href="/tutorials/introvideo/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/6BxL5AsuYSo/mqdefault.jpg"></a>
      <p>Introduction to Balsamiq Mockups</p>
    </div>
    <div class="col-xs-12 col-sm-3 center">
      <a href="/tutorials/controls/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/tdDvx63qkMM/mqdefault.jpg"></a>
      <p>Working with Controls</p>
    </div>
    <div class="col-xs-12 col-sm-3 center">
      <a href="/tutorials/linking/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/jn28_aeh5DU/mqdefault.jpg"></a>
      <p>Creating Links Between Mockups</p>
    </div>
    <div class="col-xs-12 col-sm-3 center">
      <a href="/tutorials/advanceddatagrid/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/b_nTKvhECa8/mqdefault.jpg"></a>
      <p>Using the Data Grid</p>
    </div>
  </div>
  <div class="row mt1">
    <div class="col-xs-12 col-sm-3 center">
      <a href="/tutorials/grouping/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/rGNnhbY19yY/mqdefault.jpg"></a>
      <p>Grouping Controls</p>
    </div>
    <div class="col-xs-12 col-sm-3 center">
      <a href="/tutorials/alternates/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/495jKWV5rEY/mqdefault.jpg"></a>
      <p>Introduction to Alternates</p>
    </div>
    <div class="col-xs-12 col-sm-3 center"><a href="/tutorials/quickdraw/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/A72KW9tps0s/mqdefault.jpg"></a>
      <p>Draw Basic UI Controls Using Modifier Keys</p>
    </div>
    <div class="col-xs-12 col-sm-3 center"><a href="/tutorials/transform/" class="thumbnail mb10 p10"><i class="ss-icon grayblack">&#x25B6;</i><img class="mb0" src="//img.youtube.com/vi/xQ9tJqFsGb8/mqdefault.jpg"></a>
      <p>Transform Controls from One Type to Another</p>
    </div>
<!--
    <div class="col-xs-12 col-sm-3 center">
      <a href="//www.youtube.com/balsamiq/" target="_blank" class="thumbnail mb10"><img class="mb0 pl10 pr10" src="//media.balsamiq.com/img/support/tutorials/YouTube-logo-full_color.png"></a>
      <p>Find more tutorials on our <a href="//www.youtube.com/balsamiq/" target="_blank">YouTube Channel</a></p>
    </div>
-->
  </div>
</div>

<hr>

<div class="container-fluid fluid-max">
  <div class="row">
    <div class="col-xs-12">
    <h2>Deeper Learning</h2>
    <p>In-depth instruction provided by experts. For free.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 center">
      <a href="https://www.udemy.com/wireframing-with-balsamiq-mockups/" target="_blank" class="thumbnail mb10 p10"><img class="mb0" src="//media.balsamiq.com/img/support/tutorials/udemy.jpg"></a>
      <p><a href="https://www.udemy.com/wireframing-with-balsamiq-mockups/" target="_blank">"Wireframing with Balsamiq Mockups"</a> on <strong>Udemy</strong></p>
    </div>
    <div class="col-xs-12 col-sm-4 center">
      <a href="https://www.skillshare.com/classes/design/Rapid-Wireframing-Finding-the-Right-Product-Design/1947996659" target="_blank" class="thumbnail mb10 p10"><img class="mb0" src="//media.balsamiq.com/img/support/tutorials/skillshare.jpg"></a>
      <p><a href="https://www.skillshare.com/classes/design/Rapid-Wireframing-Finding-the-Right-Product-Design/1947996659" target="_blank">"Rapid Wireframing: Finding the Right Product Design"</a> on <strong>Skillshare</strong></p>
    </div>
    <div class="col-xs-12 col-sm-4 center">
      <a href="http://www.uxapprentice.com/" target="_blank" class="thumbnail mb10 p10"><img class="mb0" src="https://media.balsamiq.com/img/support/resources/uxapprentice.jpg"></a>
      <p>Learn the basics of User Experience with <strong><a href="http://www.uxapprentice.com/" target="_blank">UX Apprentice</a></strong></p>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid fluid-max">
  <div class="row">
    <div class="col-xs-12 col-sm-6 mb10">
<h2 id="guides">Step-by-Step Guides</h2>
<p>Guided walkthroughs with pictures and text to help you learn your way around or level up your skills.</p>
<h3>Getting Started</h3>
<ol>
	<li><a href="/tutorials/firstmockup/">Create Your First Mockup</a></li>
	<li><a href="/tutorials/mobileapplication/">Create a Mobile Application</a></li>
</ol>

<h3>Symbols and Templates</h3>

<ol>
  <li><a href="/tutorials/symbolsintro/">Watch the Intro to Symbols video</a></li>
	<li><a href="/tutorials/symbol/">Create a Symbol</a></li>
	<li><a href="/tutorials/filesymbolb3/">Use an Existing File as a Symbol in Mockups for Desktop</a> OR <a href="/tutorials/filesymbolmyb/">myBalsamiq </a></li>
	<li><a href="/tutorials/mockupstogo/">Download Community-Built Controls from Mockups To Go</a></li>
	<li><a href="/tutorials/projecttemplates/">How to Create Project Templates</a></li>
</ol>

<h3>Getting More Out of Mockups</h3>

<ol>
	<li><a href="/tutorials/specifyinginteraction/">Specify Interaction with Mockups</a></li>
	<li><a href="/tutorials/ipad/">User Test your iPad Wireframes</a></li>
	<li><a href="/tutorials/responsivedesign/">Responsive Design with Mockups</a></li>
	<li><a href="/tutorials/hotareas/">Create &quot;Hot Areas&quot; with the Rectangle/Canvas Control</a></li>
</ol>
    </div>
<div class="col-xs-12 col-sm-6">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title" id="tips">Tips &amp; Tricks</h3></div>
  <div class="panel-body">
<ol>
	<li><a href="/tutorials/markup/">Use Show / Hide Markup for Layering</a></li>
	<li><a href="/tutorials/datagridlinebreaks/">Use Line Breaks to Fit Controls Inside a Data Grid</a></li>
	<li><a href="/tutorials/croptool/">Use the Crop Tool for Sprites and Masks</a></li>
	<li><a href="/tutorials/datagridheaderrows/">Create Multiple Header Rows in a Data Grid</a></li>
	<li><a href="/tutorials/confluencesymbollibrary/">Create a Mockups Design Library in Confluence</a></li>
	<li><a href="/tutorials/multipleselection/">Specifying Multiple Selection</a></li>
</ol>
  </div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title" id="community">Community Contributions</h3></div>
  <div class="panel-body">
<p>Tutorials created by friends and fans of Balsamiq. If you find any of these links out of date or want to add your own, email <a href="mailto:support@balsamiq.com">support@balsamiq.com</a>.</p>
<ol>
  <li><a href="https://www.youtube.com/watch?v=ERR5PYPYrms" target="_blank">How to prototype your mobile app idea using Balsamiq Mockups</a> by Dabble Lab</li>
	<li><a href="http://www.disruptware.com/business/wireframe-balsamiq/" target="_blank">Wireframing a Pop-up Dialog in myBalsamiq</a> by Paul Clifford</li>
	<li><a href="https://www.youtube.com/watch?v=IrpXjcpCf_k" target="_blank">Creating a Mobile App in 10 Minutes</a> by dumb apps 4 smart phones</li>
	<li><a href="https://www.youtube.com/watch?v=nu36nb86Ljw" target="_blank">Creating a Restaurant Website</a> by Wayne Fox</li>
	<li><a href="https://medium.com/@citizenblr/balsamiq-101-wireframe-quickly-effectively-9231bb126d01" target="_blank">Balsamiq 101: Wireframe quickly &amp; effectively</a> by Mikhail Kulakov</li>
	<li><a href="https://www.youtube.com/watch?v=ylY6Gxw0bDo" target="_blank">Bootstrap 3 tutorial: Prototyping your site using Mockups</a> by lynda.com</li>
	<li><a href="http://treehouselogic.wordpress.com/2013/10/03/how-to-run-balsamiq-wireframes-on-mobile/" target="_blank">How to run Balsamiq wireframes on mobile</a> by Treehouse Logic</li>
	<li><a href="http://www.jroehm.com/2013/10/wireframing-for-mobile-with-balsamiq/" target="_blank">Wireframing for Mobile with Balsamiq</a> by J&uuml;rgen R&ouml;hm</li>
</ol>
  </div>
</div>
</div>
  </div>
</div>
