<div class="article-content content article">
    <p>Below is a list of guides and video tutorials to help you learn and grow with our products.</p>
    <hr />

    <h2 id="getting-started">Getting Started</h2>
    <p>Get a handle on the basics.</p>
    <ol>
        <li><a href="/tutorials/introvideo/">Watch the Mockups Intro video</a></li>
        <li><a href="/tutorials/firstmockup/">Creating Your First Mockup</a></li>
        <li><a href="/tutorials/gettingstarted/">Getting Started Tips</a></li>
        <li><a href="/tutorials/linking/">Linking Basics</a></li>
        <li><a href="/tutorials/mobileapplication/">Creating a Mobile Application</a></li>
        <li><a href="/tutorials/controls/">Tips for Working with Controls</a></li>
        <li><a href="/tutorials/advanceddatagrid/">Data Table Formatting</a></li>
        <li><a href="/tutorials/popup/">Wireframing a Pop-up Dialog in myBalsamiq</a></li>
        <li><a href="/tutorials/mobileapp10/">Creating a Mobile App in 10 Minutes</a></li>
        <li><a href="/tutorials/restaurantwebsite/">Creating a Restaurant Website</a></li>
        <li><a href="/tutorials/mockupstrainingatlassian/">Mockups for Confluence and JIRA Training from Atlassian</a></li>
    </ol>

    <h3 id="more-resources">More resources:</h3>
    <ul>
        <li><a href="https://docs.balsamiq.com/desktop/">Complete Mockups Documentation</a></li>
        <li><a href="https://docs.balsamiq.com/mybalsamiq/">Complete myBalsamiq Documentation</a></li>
    </ul>
    <hr />

    <h2 id="leveling-up">Leveling Up</h2>
    <p>Take your skills to the next level.</p>

    <ol>
        <li><a href="/tutorials/hotareas/">Creating &ldquo;Hot Areas&rdquo; with the Rectangle/Canvas Control</a></li>
        <li><a href="/tutorials/multipleselection/">Multiple Selection in Mockups Controls</a></li>
        <li><a href="/tutorials/symbol/">How To Create a Symbol</a></li>
        <li><a href="/tutorials/symbolsintro/">Symbols Video Walkthroughs</a></li>
        <li><a href="/tutorials/filesymbolb3/">How to Use an Existing File as a Symbol in Mockups for Desktop</a> OR <a href="/tutorials/filesymbolmyb/">myBalsamiq</a></li>
        <li><a href="/tutorials/markup/">How to Use Show / Hide Markup for Layering</a></li>
        <li><a href="/tutorials/datagridlinebreaks/">How to Use Line Breaks to Fit Controls Inside a Data Grid</a></li>
        <li><a href="/tutorials/croptool/">Using the Crop Tool for Sprites and Masks</a></li>
        <li><a href="/tutorials/datagridheaderrows/">How to Create Multiple Header Rows in a Data Grid</a></li>
        <li><a href="/tutorials/confluencesymbollibrary/">Creating a Mockups Design Library in Confluence</a></li>
        <li><a href="/tutorials/bootstrap/">Bootstrap 3 Tutorial: Prototyping Your Site Using Mockups</a></li>
        <li><a href="/tutorials/mockupstraininglynda/">Balsamiq Mockups Course from Lynda.com</a></li>
    </ol>

    <h3 id="more-resources-1">More resources:</h3>
    <ul>
        <li><a href="https://docs.balsamiq.com/desktop/symbols/">Complete Symbols Documentation</a></li>
    </ul>

    <hr />
    <h2 id="getting-more-out-of-mockups">Getting More out of Mockups</h2>
    <p>You know your way around the app, now it&rsquo;s time to see what you can do with it!</p>
    <ol>
        <li><a href="/tutorials/userexperiencedesign/">Intro to User Experience Design with UX Apprentice</a></li>
        <li><a href="/tutorials/mockupstogo/">Downloading Community-Built Controls from Mockups To Go</a></li>
        <li><a href="/tutorials/projecttemplates/">Creating Project Templates</a></li>
        <li><a href="/tutorials/specifyinginteraction/">Specifying Interaction with Mockups</a></li>
        <li><a href="/tutorials/ipad/">User Testing your iPad Wireframes</a></li>
        <li><a href="/tutorials/mobileappcreate/">Wireframing for Mobile with Balsamiq</a></li>
        <li><a href="/tutorials/mobileapptest/">How to Run Balsamiq Wireframes on Mobile</a></li>
        <li><a href="/tutorials/responsivedesign/">Responsive Design with Mockups</a></li>
    </ol>

    <h3 id="more-resources-2">More resources:</h3>
    <ul>
        <li><a href="https://mockupstogo.mybalsamiq.com/">mockupstogo.mybalsamiq.com</a></li>
        <li><a href="http://www.uxapprentice.com/">uxapprentice.com</a></li>
        <li><a href="http://blogs.balsamiq.com/ux/category/tips/">Tips and Tutorials on our UX Blog</a></li>
    </ul>

    <hr />
    <h2 id="video-playlist">Video Playlist</h2>
    <p>If you&rsquo;re just into watching videos, here are all of our tutorial videos in one playlist. Enjoy!</p>
    <div class="video"><iframe allowfullscreen="" frameborder="0" src="//www.youtube.com/embed/videoseries?list=PLVlyYfbClWxRpOSJvalIUTBxoqkrzowzI"></iframe></div>
</div>
