{{/* MAIN PAGE TEMPLATE */}}
{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main" class="home">
{{/* ======================================== */}}

{{/* ======================================== */}}
{{/* SEARCH FORM */}}
<div class="container-fluid mb1-5" >

<div class="row">
  <div class="col-xs-12 col-sm-12">

    <h1>Sorry :(</h1>
    <p>We couldn't find the page you were looking for. Try searching our site below. For further assistance, please <a href="http://staging.balsamiq.com/company/#contact">contact us</a>.</p>
    <div class="relative">
      <div class="form-group" id="searchHomeDiv">
        <input class="form-control" type="text" placeholder="Search all Balsamiq Websites" autocomplete="off">
      </div>
      <div id='searchingInBody' style='visibility:hidden'>Searching...</div>
      <div id='resultsHeading'><h3>Results</h3></div>
      <div id='resultsInBody' style='visibility:hidden'></div>
    </div>
  </div>
</div>

</div><!-- /.container-fluid -->
{{/* ======================================== */}}

<script type="text/javascript">
  BalsamiqSearchAutoComplete.initAutoCompleteInputDiv("searchHomeDiv");

  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function(m,key,value) {
              vars[key] = decodeURIComponent(value);
            });
    return vars;
  }

  var query = getUrlVars()["q"];
  if (query != null) {
    $("#searchHomeDiv input").val(query);
    $("#resultsHeading").show();
    BalsamiqSearchAutoComplete.initWithSearch(query, $("#searchingInBody"), $("#resultsInBody"));
  } else {
    $("#resultsHeading").hide();
  }

  //Redirect old SBC URLs
  var urls = new Object();
  urls["/customer/portal/articles/105924"] = "https://balsamiq.com/free/";
  urls["/customer/portal/articles/1311320"] = "/tutorials/filesymbolb3/";
  urls["/customer/portal/articles/1311321"] = "/tutorials/filesymbolmyb/";
  urls["/customer/portal/articles/1634821"] = "/desktop/accountassets/";
  urls["/customer/portal/articles/578190"] = "/desktop/autosave/";
  urls["/customer/portal/articles/2237421"] = "/desktop/backup/";
  urls["/customer/portal/articles/468845"] = "/desktop/canvassize/";
  urls["/customer/portal/articles/2065924"] = "/desktop/clouddrive/";
  urls["/customer/portal/articles/111762"] = "/desktop/commandline/";
  urls["/customer/portal/articles/98986"] = "/desktop/customcontrols/";
  urls["/customer/portal/articles/210720"] = "/desktop/customproperties/";
  urls["/customer/portal/articles/1948259"] = "/desktop/exportnotes/";
  urls["/customer/portal/articles/98992"] = "/desktop/exporttocode/";
  urls["/customer/portal/articles/98990"] = "/desktop/interaction/";
  urls["/customer/portal/articles/1033437"] = "/desktop/localstore/";
  urls["/customer/portal/articles/98997"] = "/desktop/sharepoint/";
  urls["/customer/portal/articles/98989"] = "/desktop/sharing/";
  urls["/customer/portal/articles/2038151"] = "/desktop/smallscreen/";
  urls["/customer/portal/articles/2160598"] = "/desktop/stuckonlaunch/";
  urls["/customer/portal/articles/98987"] = "/desktop/symbols/";
  urls["/customer/portal/articles/1964658"] = "/desktop/troubleshooting/";
  urls["/customer/portal/articles/98988"] = "/desktop/wireframeskin/";
  urls["/customer/portal/articles/1241616"] = "/installation/adminrights/";
  urls["/customer/portal/articles/99003"] = "/installation/alreadyexists/";
  urls["/customer/portal/articles/1491432"] = "/installation/certificateerror/";
  urls["/customer/portal/articles/222853"] = "/installation/crash/";
  urls["/customer/portal/articles/235568"] = "/installation/error0/";
  urls["/customer/portal/articles/99004"] = "/installation/error2032/";
  urls["/customer/portal/articles/99005"] = "/installation/error2038/";
  urls["/customer/portal/articles/520680"] = "/installation/howto/";
  urls["/customer/portal/articles/98999"] = "/installation/installerdamaged/";
  urls["/customer/portal/articles/99001"] = "/installation/installermisconfigured/";
  urls["/customer/portal/articles/99007"] = "/installation/linux/";
  urls["/customer/portal/articles/1245742"] = "/installation/linuxmint/";
  urls["/customer/portal/articles/1526454"] = "/installation/register/";
  urls["/customer/portal/articles/133390"] = "/installation/silentinstall/";
  urls["/customer/portal/articles/1500162"] = "/installation/systemrequirements/";
  urls["/customer/portal/articles/664251"] = "/installation/unidentifieddeveloper/";
  urls["/customer/portal/articles/99002"] = "/installation/uninstall/";
  urls["/customer/portal/articles/98982"] = "/installation/update/";
  urls["/customer/portal/articles/99006"] = "/installation/updateair/";
  urls["/customer/portal/articles/368069"] = "/misc/copycats/";
  urls["/customer/portal/articles/454773"] = "/misc/faster/";
  urls["/customer/portal/articles/131378"] = "/misc/font/";
  urls["/customer/portal/articles/1516399"] = "/misc/heartbleed/";
  urls["/customer/portal/articles/978836"] = "/misc/ipad/";
  urls["/customer/portal/articles/1392008"] = "/misc/offlinedocs/";
  urls["/customer/portal/articles/609459"] = "/mybalsamiq/classroom/";
  urls["/customer/portal/articles/236482"] = "/mybalsamiq/confirmationemail/";
  urls["/customer/portal/articles/2143031"] = "/mybalsamiq/emailconsolidation/";
  urls["/customer/portal/articles/200400"] = "/mybalsamiq/firewall/";
  urls["/customer/portal/articles/133396"] = "/mybalsamiq/flashcookies/";
  urls["/customer/portal/articles/517669"] = "/mybalsamiq/flashstoragesettings/";
  urls["/customer/portal/articles/235411"] = "/mybalsamiq/grouping/";
  urls["/customer/portal/articles/1642819"] = "/mybalsamiq/leavesite/";
  urls["/customer/portal/articles/1878451"] = "/mybalsamiq/mybandatlassian/";
  urls["/customer/portal/articles/2051535"] = "/mybalsamiq/mybandb3/";
  urls["/customer/portal/articles/232919"] = "/mybalsamiq/mybanddesktop/";
  urls["/customer/portal/articles/1971804"] = "/mybalsamiq/readonly/";
  urls["/customer/portal/articles/539164"] = "/mybalsamiq/rememberme/";
  urls["/customer/portal/articles/805389"] = "/mybalsamiq/secure/";
  urls["/customer/portal/articles/1512069"] = "/mybalsamiq/siteowner/";
  urls["/customer/portal/articles/835846"] = "/mybalsamiq/siteownerleft/";
  urls["/customer/portal/articles/181685"] = "/plugins/atlassiancloudandldap/";
  urls["/customer/portal/articles/1044360"] = "/plugins/atlassianlicensenotshowing/";
  urls["/customer/portal/articles/969255"] = "/plugins/b3andatlassian/";
  urls["/customer/portal/articles/1044342"] = "/plugins/confluencenotworking/";
  urls["/customer/portal/articles/243640"] = "/plugins/confluencesavingerror/";
  urls["/customer/portal/articles/569645"] = "/plugins/failedtovalidatelicense/";
  urls["/customer/portal/articles/1064095"] = "/plugins/ieandconfluence/";
  urls["/customer/portal/articles/721932"] = "/plugins/importtoatlassian/";
  urls["/customer/portal/articles/1559727"] = "/plugins/introtogoogledrive/";
  urls["/customer/portal/articles/1597488"] = "/plugins/newingoogledrive/";
  urls["/customer/portal/articles/1620098"] = "/plugins/osxquicklook/";
  urls["/customer/portal/articles/1021056"] = "/plugins/sharingwithgoogledrive/";
  urls["/customer/portal/articles/1329624"] = "/resources/balsamiqexpertselance/";
  urls["/customer/portal/articles/1329626"] = "/resources/balsamiqexpertsodesk/";
  urls["/customer/portal/articles/1075461"] = "/resources/books/";
  urls["/customer/portal/articles/1329607"] = "/resources/elancejobs/";
  urls["/customer/portal/articles/135659"] = "/resources/extensions/";
  urls["/customer/portal/articles/321961"] = "/resources/jobs/";
  urls["/customer/portal/articles/277386"] = "/resources/lookingforhelp/";
  urls["/customer/portal/articles/131430"] = "/resources/mockupstogo/";
  urls["/customer/portal/articles/1329588"] = "/resources/odeskjobs/";
  urls["/customer/portal/articles/1339720"] = "/resources/opensourcecontributions/";
  urls["/customer/portal/articles/1039611"] = "/resources/uxapprentice/";
  urls["/customer/portal/articles/1039611"] = "/resources/uxapprentice/";
  urls["/customer/portal/articles/880427"] = "/resources/whatarewireframes/";
  urls["/customer/portal/articles/131241"] = "/sales/10for10/";
  urls["/customer/portal/articles/173397"] = "/sales/508/";
  urls["/customer/portal/articles/223421"] = "/sales/atlassiancloud/";
  urls["/customer/portal/articles/1036201"] = "/sales/atlassianeol/";
  urls["/customer/portal/articles/1790187"] = "/sales/atlassianmigrating/";
  urls["/customer/portal/articles/131246"] = "/sales/atlassianplugindiscounts/";
  urls["/customer/portal/articles/1144373"] = "/sales/atlassianplugins/";
  urls["/customer/portal/articles/1419238"] = "/sales/atlassianstagingproduction/";
  urls["/customer/portal/articles/1223014"] = "/sales/audit/";
  urls["/customer/portal/articles/1505749"] = "/sales/cantlogin/";
  urls["/customer/portal/articles/98984"] = "/sales/cantregister/";
  urls["/customer/portal/articles/98993"] = "/sales/compare/";
  urls["/customer/portal/articles/131277"] = "/sales/consulting/";
  urls["/customer/portal/articles/127475"] = "/sales/cost/";
  urls["/customer/portal/articles/127476"] = "/sales/currency/";
  urls["/customer/portal/articles/131268"] = "/sales/customeula/";
  urls["/customer/portal/articles/1144371"] = "/sales/desktop/";
  urls["/customer/portal/articles/314742"] = "/sales/desktopandplugins/";
  urls["/customer/portal/articles/98994"] = "/sales/desktoptogdrive/";
  urls["/customer/portal/articles/1485301"] = "/sales/discounts/";
  urls["/customer/portal/articles/127496"] = "/sales/evaluate/";
  urls["/customer/portal/articles/1342062"] = "/sales/fogbugz/";
  urls["/customer/portal/articles/1318175"] = "/sales/forms/";
  urls["/customer/portal/articles/1144377"] = "/sales/gdrive/";
  urls["/customer/portal/articles/1550556"] = "/sales/gdrivesubscription/";
  urls["/customer/portal/articles/309235"] = "/sales/hibernate/";
  urls["/customer/portal/articles/479049"] = "/sales/hostedpluginstos/";
  urls["/customer/portal/articles/1339732"] = "/sales/howtochoose/";
  urls["/customer/portal/articles/131245"] = "/sales/invoice/";
  urls["/customer/portal/articles/325975"] = "/sales/ipownership/";
  urls["/customer/portal/articles/131270"] = "/sales/jurisdiction/";
  urls["/customer/portal/articles/1223040"] = "/sales/leftcompany/";
  urls["/customer/portal/articles/127495"] = "/sales/licensedelivery/";
  urls["/customer/portal/articles/503269"] = "/sales/licensetransfer/";
  urls["/customer/portal/articles/98980"] = "/sales/lostlicense/";
  urls["/customer/portal/articles/1485219"] = "/sales/maintenance/";
  urls["/customer/portal/articles/542517"] = "/sales/marketplace/";
  urls["/customer/portal/articles/131271"] = "/sales/multiplecomputers/";
  urls["/customer/portal/articles/1144372"] = "/sales/mybalsamiq/";
  urls["/customer/portal/articles/1397041"] = "/sales/mybsubscriptions/";
  urls["/customer/portal/articles/131280"] = "/sales/opensource/";
  urls["/customer/portal/articles/127484"] = "/sales/ordering/";
  urls["/customer/portal/articles/2102844"] = "/sales/othertools/";
  urls["/customer/portal/articles/127486"] = "/sales/paymentmethods/";
  urls["/customer/portal/articles/479296"] = "/sales/pos/";
  urls["/customer/portal/articles/351272"] = "/sales/promocodes/";
  urls["/customer/portal/articles/131269"] = "/sales/publicityrights/";
  urls["/customer/portal/articles/127485"] = "/sales/purchaseorders/";
  urls["/customer/portal/articles/127483"] = "/sales/quote/";
  urls["/customer/portal/articles/127497"] = "/sales/refunds/";
  urls["/customer/portal/articles/127493"] = "/sales/reinstall/";
  urls["/customer/portal/articles/131279"] = "/sales/requestfeature/";
  urls["/customer/portal/articles/1485338"] = "/sales/resellers/";
  urls["/customer/portal/articles/1629092"] = "/sales/safe/";
  urls["/customer/portal/articles/1290036"] = "https://balsamiq.com/company/sponsorships/apply/";
  urls["/customer/portal/articles/127506"] = "/sales/support/";
  urls["/customer/portal/articles/127481"] = "/sales/taxes/";
  urls["/customer/portal/articles/131278"] = "/sales/training/";
  urls["/customer/portal/articles/127505"] = "/sales/update/";
  urls["/customer/portal/articles/127498"] = "/sales/updatecard/";
  urls["/customer/portal/articles/127502"] = "/sales/upgrades/";
  urls["/customer/portal/articles/131257"] = "/sales/userscounted/";
  urls["/customer/portal/articles/1640232"] = "/sales/w9/";
  urls["/customer/portal/articles/1342041"] = "/sales/xwiki/";
  urls["/customer/portal/articles/117806"] = "/tutorials/advanceddatagrid/";
  urls["/customer/portal/articles/1396554"] = "/tutorials/bootstrap/";
  urls["/customer/portal/articles/1386819"] = "/tutorials/confluencesymbollibrary/";
  urls["/customer/portal/articles/107987"] = "/tutorials/controls/";
  urls["/customer/portal/articles/1430586"] = "/tutorials/croptool/";
  urls["/customer/portal/articles/1375600"] = "/tutorials/datagridheaderrows/";
  urls["/customer/portal/articles/1334990"] = "/tutorials/datagridlinebreaks/";
  urls["/customer/portal/articles/1311320"] = "/tutorials/filesymbolb3/";
  urls["/customer/portal/articles/1311321"] = "/tutorials/filesymbolmyb/";
  urls["/customer/portal/articles/871902"] = "/tutorials/firstmockup/";
  urls["/customer/portal/articles/1640366"] = "/tutorials/gettingstarted/";
  urls["/customer/portal/articles/117684"] = "/tutorials/hotareas/";
  urls["/customer/portal/articles/107966"] = "/tutorials/introvideo/";
  urls["/customer/portal/articles/1475687"] = "/tutorials/ipad/";
  urls["/customer/portal/articles/1356143"] = "/tutorials/linking/";
  urls["/customer/portal/articles/1334980"] = "/tutorials/markup/";
  urls["/customer/portal/articles/1396585"] = "/tutorials/mobileapp10/";
  urls["/customer/portal/articles/1398700"] = "/tutorials/mobileappcreate/";
  urls["/customer/portal/articles/1119780"] = "/tutorials/mobileapplication/";
  urls["/customer/portal/articles/1398706"] = "/tutorials/mobileapptest/";
  urls["/customer/portal/articles/1311316"] = "/tutorials/mockupstogo/";
  urls["/customer/portal/articles/1720363"] = "/tutorials/mockupstrainingatlassian/";
  urls["/customer/portal/articles/1720370"] = "/tutorials/mockupstraininglynda/";
  urls["/customer/portal/articles/2065783"] = "/tutorials/multipleselection/";
  urls["/customer/portal/articles/1439945"] = "/tutorials/popup/";
  urls["/customer/portal/articles/1640428"] = "/tutorials/projecttemplates/";
  urls["/customer/portal/articles/615901"] = "/tutorials/responsivedesign/";
  urls["/customer/portal/articles/615901"] = "/tutorials/responsivedesign/";
  urls["/customer/portal/articles/1512152"] = "/tutorials/restaurantwebsite/";
  urls["/customer/portal/articles/107999"] = "/tutorials/specifyinginteraction/";
  urls["/customer/portal/articles/1306464"] = "/tutorials/symbol/";
  urls["/customer/portal/articles/117812"] = "/tutorials/symbolsintro/";
  urls["/customer/portal/articles/1335124"] = "/tutorials/";
  urls["/customer/portal/articles/1039581"] = "/tutorials/userexperiencedesign/";
  urls["/customer/portal/articles/127432"] = "/sales/";
  urls["/customer/portal/emails/new"] = "https://balsamiq.com/company/contact/";
  urls["/customer/portal/topics/44770"] = "/desktop/";
  urls["/customer/portal/topics/51252"] = "/mybalsamiq/";
  urls["/customer/portal/articles/1552554"] = "/sales/discountcodes/";
  urls["/customer/portal/topics/49503-tutorials/articles"] = "/tutorials/";
  urls["/customer/portal/topics/50003-mockups-documentation/articles"] = "https://docs.balsamiq.com/desktop/";
  urls["/customer/portal/topics/44768-licensing-and-purchasing-faqs/articles"] = "/sales/";
  urls["/customer/portal/topics/44769-installation-faqs/articles"] = "/installation/";

  if (urls[window.location.pathname]) {
    window.location.href = urls[window.location.pathname];
  }
</script>

{{/* ======================================== */}}
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
