{{/* MAIN PAGE TEMPLATE */}}
{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main" class="home">
{{/* ======================================== */}}

{{/* ======================================== */}}
{{/* SEARCH FORM */}}
<div class="container" >
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h1 class="center b0">:( Help Us Help You!</h1>
      <p class="center"><strong>Sorry!</strong> We couldn't find the page you were looking for.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="relative">
        <div id="searchHomeDiv">
          <input class="form-control" type="text" placeholder="Search all Balsamiq Websites" autocomplete="off">
        </div>
        <div id='searchingInBody' style='visibility:hidden'>Searching...</div>
        <div id='resultsHeading'><h3>Results</h3></div>
        <div id='resultsInBody' style='visibility:hidden'></div>
      </div>
      <p class="center mt1">Try <strong>searching our site</strong>, choosing one of the <strong>links below</strong>, or you can <a href="https://balsamiq.com/company/#contact">contact us</a>.</p>
    </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h3>Help and Support</h3>
      <ul>
        <li><a href="https://support.balsamiq.com/sales/">Licensing &amp; Purchasing</a></li>
        <li><a href="https://support.balsamiq.com/installation/">Installation &amp; Updating</a></li>
        <li><a href="https://support.balsamiq.com/tutorials/">Tutorials</a></li>
        <li><a href="https://support.balsamiq.com/#support-faqs">Product FAQs</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Documentation</h3>
        <ul>
          <li><a href="https://docs.balsamiq.com/desktop/">Mockups for Desktop</a></li>
          <li><a href="https://docs.balsamiq.com/mybalsamiq/">myBalsamiq</a></li>
          <li><a href="https://docs.balsamiq.com/google-drive/user-guide/">Mockups for Google Drive</a></li>
          <li><a href="https://docs.balsamiq.com/confluence/">Mockups for Confluence</a></li>
          <li><a href="https://docs.balsamiq.com/jira/">Mockups for JIRA</a></li>
        </ul>
      </div>
  </div>

</div><!-- /.container -->
{{/* ======================================== */}}

<script type="text/javascript">
  BalsamiqSearchAutoComplete.initAutoCompleteInputDiv("searchHomeDiv");

  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function(m,key,value) {
              vars[key] = decodeURIComponent(value);
            });
    return vars;
  }

  var query = getUrlVars()["q"];
  if (query != null) {
    $("#searchHomeDiv input").val(query);
    $("#resultsHeading").show();
    BalsamiqSearchAutoComplete.initWithSearch(query, $("#searchingInBody"), $("#resultsInBody"));
  } else {
    $("#resultsHeading").hide();
  }

  //Redirect old SBC URLs
  var urls = new Object();
  urls["portal/articles/105924"] = "https://balsamiq.com/free/";
  urls["portal/articles/1311320"] = "/tutorials/filesymbolb3/";
  urls["portal/articles/1311321"] = "/tutorials/filesymbolmyb/";
  urls["portal/articles/1634821"] = "/desktop/accountassets/";
  urls["portal/articles/578190"] = "/desktop/autosave/";
  urls["portal/articles/2237421"] = "/desktop/backup/";
  urls["portal/articles/468845"] = "/desktop/canvassize/";
  urls["portal/articles/2065924"] = "/desktop/clouddrive/";
  urls["portal/articles/111762"] = "/installation/commandline/";
  urls["portal/articles/98986"] = "/desktop/customcontrols/";
  urls["portal/articles/210720"] = "/desktop/customproperties/";
  urls["portal/articles/1948259"] = "/desktop/exportnotes/";
  urls["portal/articles/98992"] = "/desktop/exporttocode/";
  urls["portal/articles/98990"] = "/desktop/interaction/";
  urls["portal/articles/1033437"] = "/desktop/localstore/";
  urls["portal/articles/98997"] = "/desktop/sharepoint/";
  urls["portal/articles/98989"] = "/desktop/sharing/";
  urls["portal/articles/2038151"] = "/desktop/smallscreen/";
  urls["portal/articles/2160598"] = "/desktop/stuckonlaunch/";
  urls["portal/articles/98987"] = "/desktop/symbols/";
  urls["portal/articles/1964658"] = "/desktop/troubleshooting/";
  urls["portal/articles/98988"] = "/desktop/wireframeskin/";
  urls["portal/articles/1241616"] = "/installation/adminrights/";
  urls["portal/articles/1491432"] = "/installation/certificateerror/";
  urls["portal/articles/222853"] = "/installation/crash/";
  urls["portal/articles/520680"] = "/installation/howto/";
  urls["portal/articles/99001"] = "/installation/installermisconfigured/";
  urls["portal/articles/99007"] = "/installation/linux/";
  urls["portal/articles/1526454"] = "/installation/register/";
  urls["portal/articles/133390"] = "/installation/silentinstall/";
  urls["portal/articles/1500162"] = "/installation/systemrequirements/";
  urls["portal/articles/664251"] = "/installation/unidentifieddeveloper/";
  urls["portal/articles/99002"] = "/installation/uninstall/";
  urls["portal/articles/98982"] = "/installation/update/";
  urls["portal/articles/368069"] = "/misc/copycats/";
  urls["portal/articles/454773"] = "/misc/faster/";
  urls["portal/articles/131378"] = "/misc/font/";
  urls["portal/articles/1516399"] = "/misc/heartbleed/";
  urls["portal/articles/978836"] = "/misc/ipad/";
  urls["portal/articles/1392008"] = "/misc/offlinedocs/";
  urls["portal/articles/609459"] = "/mybalsamiq/classroom/";
  urls["portal/articles/236482"] = "/mybalsamiq/confirmationemail/";
  urls["portal/articles/2143031"] = "/mybalsamiq/emailconsolidation/";
  urls["portal/articles/200400"] = "/mybalsamiq/firewall/";
  urls["portal/articles/133396"] = "/mybalsamiq/flashcookies/";
  urls["portal/articles/517669"] = "/mybalsamiq/flashstoragesettings/";
  urls["portal/articles/235411"] = "/mybalsamiq/grouping/";
  urls["portal/articles/1642819"] = "/mybalsamiq/leavesite/";
  urls["portal/articles/1878451"] = "/mybalsamiq/mybandatlassian/";
  urls["portal/articles/2051535"] = "/mybalsamiq/mybandb3/";
  urls["portal/articles/232919"] = "/mybalsamiq/mybanddesktop/";
  urls["portal/articles/1971804"] = "/mybalsamiq/readonly/";
  urls["portal/articles/539164"] = "/mybalsamiq/rememberme/";
  urls["portal/articles/805389"] = "/mybalsamiq/secure/";
  urls["portal/articles/1512069"] = "/mybalsamiq/siteowner/";
  urls["portal/articles/835846"] = "/mybalsamiq/siteownerleft/";
  urls["portal/articles/181685"] = "/plugins/atlassianldap/";
  urls["portal/articles/1044360"] = "/plugins/atlassianlicensenotshowing/";
  urls["portal/articles/969255"] = "/plugins/b3andatlassian/";
  urls["portal/articles/569645"] = "/plugins/failedtovalidatelicense/";
  urls["portal/articles/721932"] = "/plugins/importtoatlassian/";
  urls["portal/articles/1559727"] = "/plugins/introtogoogledrive/";
  urls["portal/articles/1597488"] = "/plugins/newingoogledrive/";
  urls["portal/articles/1021056"] = "/plugins/sharingwithgoogledrive/";
  urls["portal/articles/1329624"] = "/resources/lookingforhelp/";
  urls["portal/articles/1329626"] = "/resources/lookingforhelp/";
  urls["portal/articles/1075461"] = "/resources/books/";
  urls["portal/articles/1329607"] = "/resources/jobs/";
  urls["portal/articles/135659"] = "/resources/extensions/";
  urls["portal/articles/321961"] = "/resources/jobs/";
  urls["portal/articles/277386"] = "/resources/lookingforhelp/";
  urls["portal/articles/131430"] = "/resources/mockupstogo/";
  urls["portal/articles/1329588"] = "/resources/jobs/";
  urls["portal/articles/1339720"] = "/resources/opensourcecontributions/";
  urls["portal/articles/1039611"] = "/resources/uxapprentice/";
  urls["portal/articles/1039611"] = "/resources/uxapprentice/";
  urls["portal/articles/880427"] = "/resources/whatarewireframes/";
  urls["portal/articles/131241"] = "/sales/10for10/";
  urls["portal/articles/173397"] = "/sales/508/";
  urls["portal/articles/223421"] = "/sales/atlassiancloud/";
  urls["portal/articles/1036201"] = "/sales/atlassianeol/";
  urls["portal/articles/1790187"] = "/sales/atlassianmigrating/";
  urls["portal/articles/131246"] = "/sales/atlassianplugindiscounts/";
  urls["portal/articles/1144373"] = "/sales/atlassianplugins/";
  urls["portal/articles/1419238"] = "/sales/atlassianstagingproduction/";
  urls["portal/articles/1223014"] = "/sales/audit/";
  urls["portal/articles/1505749"] = "/sales/cantlogin/";
  urls["portal/articles/98984"] = "/sales/cantregister/";
  urls["portal/articles/98993"] = "/sales/compare/";
  urls["portal/articles/131277"] = "/sales/training/";
  urls["portal/articles/127475"] = "/sales/cost/";
  urls["portal/articles/127476"] = "/sales/currency/";
  urls["portal/articles/131268"] = "/sales/customeula/";
  urls["portal/articles/1144371"] = "/sales/desktop/";
  urls["portal/articles/314742"] = "/sales/desktopandplugins/";
  urls["portal/articles/98994"] = "/sales/licensetransfer/";
  urls["portal/articles/1485301"] = "/sales/discounts/";
  urls["portal/articles/127496"] = "/sales/evaluate/";
  urls["portal/articles/1342062"] = "/sales/fogbugz/";
  urls["portal/articles/1318175"] = "/sales/forms/";
  urls["portal/articles/1144377"] = "/sales/gdrive/";
  urls["portal/articles/1550556"] = "/sales/gdrivesubscription/";
  urls["portal/articles/309235"] = "/sales/hibernate/";
  urls["portal/articles/479049"] = "/sales/hostedpluginstos/";
  urls["portal/articles/1339732"] = "/sales/howtochoose/";
  urls["portal/articles/131245"] = "/sales/invoice/";
  urls["portal/articles/325975"] = "/sales/ipownership/";
  urls["portal/articles/131270"] = "/sales/jurisdiction/";
  urls["portal/articles/1223040"] = "/sales/leftcompany/";
  urls["portal/articles/127495"] = "/sales/licensedelivery/";
  urls["portal/articles/503269"] = "/sales/desktoptogdrive/";
  urls["portal/articles/98980"] = "/sales/lostlicense/";
  urls["portal/articles/1485219"] = "/sales/maintenance/";
  urls["portal/articles/542517"] = "/sales/marketplace/";
  urls["portal/articles/131271"] = "/sales/multiplecomputers/";
  urls["portal/articles/1144372"] = "/sales/mybalsamiq/";
  urls["portal/articles/1397041"] = "/sales/mybsubscriptions/";
  urls["portal/articles/131280"] = "/sales/opensource/";
  urls["portal/articles/127484"] = "/sales/ordering/";
  urls["portal/articles/2102844"] = "/sales/othertools/";
  urls["portal/articles/127486"] = "/sales/paymentmethods/";
  urls["portal/articles/479296"] = "/sales/pos/";
  urls["portal/articles/351272"] = "/sales/promocodes/";
  urls["portal/articles/131269"] = "/sales/publicityrights/";
  urls["portal/articles/127485"] = "/sales/purchaseorders/";
  urls["portal/articles/127483"] = "/sales/quote/";
  urls["portal/articles/127497"] = "/sales/refunds/";
  urls["portal/articles/127493"] = "/sales/reinstall/";
  urls["portal/articles/131279"] = "/sales/requestfeature/";
  urls["portal/articles/1485338"] = "/sales/resellers/";
  urls["portal/articles/1629092"] = "/sales/safe/";
  urls["portal/articles/1290036"] = "https://balsamiq.com/company/sponsorships/apply/";
  urls["portal/articles/127506"] = "/sales/support/";
  urls["portal/articles/127481"] = "/sales/taxes/";
  urls["portal/articles/131278"] = "/sales/training/";
  urls["portal/articles/127505"] = "/sales/update/";
  urls["portal/articles/127498"] = "/sales/updatecard/";
  urls["portal/articles/127502"] = "/sales/upgrades/";
  urls["portal/articles/131257"] = "/sales/userscounted/";
  urls["portal/articles/1640232"] = "/sales/w9/";
  urls["portal/articles/1342041"] = "/sales/xwiki/";
  urls["portal/articles/117806"] = "/tutorials/advanceddatagrid/";
  urls["portal/articles/1396554"] = "/tutorials/bootstrap/";
  urls["portal/articles/1386819"] = "/tutorials/confluencesymbollibrary/";
  urls["portal/articles/107987"] = "/tutorials/controls/";
  urls["portal/articles/1430586"] = "/tutorials/croptool/";
  urls["portal/articles/1375600"] = "/tutorials/datagridheaderrows/";
  urls["portal/articles/1334990"] = "/tutorials/datagridlinebreaks/";
  urls["portal/articles/1311320"] = "/tutorials/filesymbolb3/";
  urls["portal/articles/1311321"] = "/tutorials/filesymbolmyb/";
  urls["portal/articles/871902"] = "/tutorials/firstmockup/";
  urls["portal/articles/1640366"] = "/tutorials/#community";
  urls["portal/articles/117684"] = "/tutorials/hotareas/";
  urls["portal/articles/107966"] = "/tutorials/introvideo/";
  urls["portal/articles/1475687"] = "/tutorials/ipad/";
  urls["portal/articles/1356143"] = "/tutorials/linking/";
  urls["portal/articles/1334980"] = "/tutorials/markup/";
  urls["portal/articles/1396585"] = "/tutorials/#community";
  urls["portal/articles/1398700"] = "/tutorials/#community";
  urls["portal/articles/1119780"] = "/tutorials/mobileapplication/";
  urls["portal/articles/1398706"] = "/tutorials/#community";
  urls["portal/articles/1311316"] = "/tutorials/mockupstogo/";
  urls["portal/articles/1720363"] = "/tutorials/";
  urls["portal/articles/1720370"] = "/tutorials/#community";
  urls["portal/articles/2065783"] = "/tutorials/multipleselection/";
  urls["portal/articles/1439945"] = "/tutorials/#community";
  urls["portal/articles/1640428"] = "/tutorials/projecttemplates/";
  urls["portal/articles/615901"] = "/tutorials/responsivedesign/";
  urls["portal/articles/1512152"] = "/tutorials/#community";
  urls["portal/articles/107999"] = "/tutorials/specifyinginteraction/";
  urls["portal/articles/1306464"] = "/tutorials/symbol/";
  urls["portal/articles/117812"] = "/tutorials/symbolsintro/";
  urls["portal/articles/1335124"] = "/tutorials/";
  urls["portal/articles/1039581"] = "/tutorials/userexperiencedesign/";
  urls["portal/articles/127432"] = "/sales/";
  urls["portal/emails/new"] = "https://balsamiq.com/company/contact/";
  urls["portal/topics/44770"] = "/desktop/";
  urls["portal/topics/51252"] = "/mybalsamiq/";
  urls["portal/topics/1096767"] = "/plugins/";
  urls["portal/articles/1552554"] = "/sales/discountcodes/";
  urls["portal/topics/49503-tutorials/articles"] = "/tutorials/";
  urls["portal/topics/50003-mockups-documentation/articles"] = "https://docs.balsamiq.com/desktop/";
  urls["portal/topics/44768-licensing-and-purchasing-faqs/articles"] = "/sales/";
  urls["portal/topics/44769-installation-faqs/articles"] = "/installation/";

  var locPieces = window.location.pathname.split("/");
  locPieces.shift();
  locPieces.shift();
  if (locPieces[0] === "en") {
    locPieces.shift();
  }
  var croppedURL = locPieces.join("/");

  if (urls[croppedURL]) {
    window.location.href = urls[croppedURL];
  }


  var newPrefix = "https://docs.balsamiq.com/";
  var seventhPiece = document.location.href.split("/")[6];
  if (seventhPiece) {

    //Redirect old DBC URLs
    var redirects = {};
    redirects["127377"] = "desktop/";
    redirects["1844131"] = "desktop/intro/";
    redirects["1908765"] = "desktop/transition/";
    redirects["109151"] = "desktop/overview/";
    redirects["110078"] = "desktop/controls/";
    redirects["110114"] = "desktop/inspector/";
    redirects["1956540"] = "desktop/alternates/";
    redirects["1895403"] = "desktop/projectinfo/";
    redirects["938142"] = "desktop/skins/";
    redirects["110121"] = "desktop/text/";
    redirects["110188"] = "desktop/datagrids/";
    redirects["110202"] = "desktop/icons/";
    redirects["110401"] = "desktop/images/";
    redirects["110418"] = "desktop/markup/";
    redirects["110439"] = "desktop/symbols/";
    redirects["721960"] = "desktop/sitemaps/";
    redirects["111730"] = "desktop/exporting/";
    redirects["1895737"] = "desktop/importing/";
    redirects["111742"] = "desktop/linking/";
    redirects["111756"] = "desktop/fullscreen/";
    redirects["110445"] = "desktop/shortcuts/";
    redirects["127531"] = "mybalsamiq/";
    redirects["174898"] = "mybalsamiq/tos/";
    redirects["112380"] = "mybalsamiq/intro/";
    redirects["112398"] = "mybalsamiq/home/";
    redirects["112399"] = "mybalsamiq/project/";
    redirects["229097"] = "mybalsamiq/accesscontrolmatrix/";
    redirects["112401"] = "mybalsamiq/mockup/";
    redirects["1366973"] = "mybalsamiq/editor/";
    redirects["112403"] = "mybalsamiq/assets/";
    redirects["229142"] = "mybalsamiq/symbols/";
    redirects["2038056"] = "mybalsamiq/exporting/";
    redirects["2038118"] = "mybalsamiq/exporting/";
    redirects["112404"] = "mybalsamiq/history/";
    redirects["112405"] = "mybalsamiq/communication/";
    redirects["519503"] = "mybalsamiq/notifications/";
    redirects["235574"] = "mybalsamiq/sharing/";
    redirects["433253"] = "mybalsamiq/usertesting/";
    redirects["112406"] = "mybalsamiq/usersettings/";
    redirects["231911"] = "mybalsamiq/sitesettings/";
    redirects["1559682"] = "google-drive/user-guide/";
    redirects["113837"] = "confluence/user-guide/";
    redirects["113839"] = "confluence/admin-guide/";
    redirects["113842"] = "jira/user-guide/";
    redirects["113844"] = "jira/admin-guide/";

    var articleID = seventhPiece.split("-")[0].split("#")[0];

    if (redirects[articleID] != null)
    {
      document.location.href = newPrefix+redirects[articleID];
    }
  }

  if (document.location.href.indexOf("/sales/consulting") != -1)
  {
    document.location.href = "https://support.balsamiq.com/sales/training/";
  }

  if (document.location.href.indexOf("/articles/105924") != -1)
  {
    document.location.href = "https://balsamiq.com/free";
  }

  if (document.location.href.indexOf("/articles/1290036") != -1)
  {
    document.location.href = "https://balsamiq.com/company/sponsorships/apply/";
  }
</script>

{{/* ======================================== */}}
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
